name: RISC-V Safety BIST CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
 
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Verilator
        run: |
          sudo apt-get update
          sudo apt-get install -y verilator

      - name: Run Verilator Lint
        run: |
          # -I./HDL : HDL klasörünü include path olarak ekle (pkg dosyaları için)
          # ./HDL/top_runtime_bist.sv : Senin ANA MODÜL dosyan
          verilator --lint-only -Wall -Wno-PINCONNECTEMPTY -Wno-DECLFILENAME \
            -I./HDL \
            ./HDL/top_runtime_bist.sv

  verify:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Icarus Verilog
        run: |
          sudo apt-get update
          sudo apt-get install -y iverilog build-essential

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Cocotb
        run: pip install cocotb cocotb-test pytest

      - name: Run Cocotb Tests
        run: |
          # Test klasörüne gir ve make komutunu çalıştır
          cd Test
          make SIM=icarus
